<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <!--<h2>His firstname is {{first_name | upper | lower| capfirst}} and lastname is {{last_name | lower | capfirst}}</h2>-->
    <h2>His firstname is {{first_name}} and lastname is {{last_name}}
        <ul>

        <!--{%for k,v in some_dict.items%}

           <!--<li>{{k}}</li>
           <li>{{v}}</li>

        {% endfor %}-->

        <!--{% if user_logged_in %}
            <h3>Welcome back you are logged in</h3>
        {% endif %}-->

        <!--{% for num in some_list  %}
        {% if num == 2 %}
            <li>TWO</li>
        {% else %}
            <li>{{num}}</li>
        {% endif %}
        {% endfor %}-->

        <!--{% if first_name == 'Satish' %}
             <h3> Welocme Satish</h3>
        {% endif %}-->

        <!--{% if user_logged_in %}
            <h3> Welcome {{first_name}} {{last_name}}</h3>
        {% endif %}

        </ul>
    <h3>{{some_list}}</h3>
    <h4>{{some_dict}}</h4>-->
    
</html>